<p-table [value]="orders">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Date</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.client}}</td>
            <td>{{order.date}}</td>
            <td>{{order.address}}</td>
            <td>
              <p-button label="Edit" (onClick)="editOrder(order)"></p-button>
            </td>
            <td>
              <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deleteOrder(order)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
